aside {
    background-image: url(../images/Brand.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.75rem;
    margin-right: 1.25rem;
    padding: 2rem;
    
    & img {
        width: 2.875rem;
    }
    
    & h1 {
        font: var(--logo);
        color: var(--pink);
        margin-top: 1rem;
    }

    & p {
        font: 100 16px var(--ff03);
        color: var(--text-heading);
    }
}